<!DOCTYPE html>
% rebase("main.html")

<h1>
    <strong>TRENING TRACKER</strong>
</h1>


<section style="text-align: center;padding-top: 20px;">
<p><strong>Še nisi prijavljen? Začni že danes in se prijavi!</strong>
    <a style="color:hsl(348, 100%, 61%); padding:20px;" href="http://127.0.0.1:8080/prijava/">
        <strong>Prijava</strong>
    </a>
</p>
</section>

<img src="https://img.freepik.com/premium-vector/fitness-continuous-one-line-calligraphy-minimalistic-handwriting-with-white-background_560834-212.jpg"
class="center">