<!DOCTYPE html>
% rebase('main.html')
<h1>Prijava</h1>

<form method="POST" style="margin: auto; width: 250px; padding-top: 50px;">
        <label class="label is-large" >Uporabniško ime</label>
            <input class="input is-medium" name="uporabnisko_ime" type="text" placeholder="uporabniško ime" required>
    <div class="field">
        <label class="label is-large">Geslo</label>
            <input class="input is-medium" name="geslo" type="password" placeholder="geslo" size="20" required>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-danger is-large">Prijavi se</button>
        </div>
    </div>
</form>
